@charset "utf-8";
/* CSS Document */
*{
	margin:0;
	padding:0;
}
html,body{
	width: 100%;
	background: #f6f6f6;
}
ul,ol{
	list-style-type: none;
}
a{
	text-decoration: none;
}
img{
	display: block;
}
b, em, i, strong{
	font-style: normal;
    font-weight: 400;
}
// 头部
.head{
	background: #fff;
// 头部-1
	.head-one{
		height: 42px;
	    line-height: 42px;
	    border-bottom: 1px solid #efefef;
	
		.head-one-1{
			width: 1240px;
		    margin: 0 auto;
		    // 左头部
			.fl{
				float:left;	
				.fl-a{
					background: url(../img/logoico.jpg) no-repeat left center;
				    padding-left: 40px;
				    font-size: 12px;
				    color: #666;
				    a{
				    	color: #666;
				    }
				} 
				// 登录和注册
				label:hover a{
			    	color: #04c343;
			    }
			}
			// 右头部
			.fr{
				float:right;
				.fr-a{
					float:left;
		    		line-height: 44px;
		    		li{
		    			float:left;
					    font-size: 12px;
					    position: relative;
					    z-index: 210;
					    margin-left: -1px;
					    .title{
					    	display: block;
						    padding: 0 17px;
						    color: #666;
						    background: url(../img/line.jpg) no-repeat right center;
					    }
					    .fr-a-a{
					    	width: 100%;
						    position: absolute;
						    left: -1px;
						    top: 43px;
						    background: #fff;
						    border: 1px solid #e7e7e7;
						    border-top: none;
						    display: none;
						    .soft-box{
						    	box-shadow: 0 0 10px rgba(0, 0, 0, .1);
							    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .1);
							    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, .1);
							    border-radius: 0 0 5px 5px;
							    -webkit-border-radius: 0 0 5px 5px;
							    a{
							    	display: block;
								    height: 36px;
								    line-height: 36px;
								    text-align: center;
								    border-bottom: 1px dashed #e7e7e7;
							    }
							    a:hover {
							    	background: #e4faf7;
							    	color: #4FB99F;
							    	font-weight: 400;
							    }
						    }
						    .app_d{
						    	box-shadow: 0 0 10px rgba(0, 0, 0, .1);
							    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .1);
							    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, .1);
							    border-radius: 0 0 5px 5px;
							    -webkit-border-radius: 0 0 5px 5px;
						    	overflow: hidden;
						    	dd{
						    		width: 140px;
								    text-align: center;
								    line-height: 1.4;
								    float:left;
								    padding: 15px;
								    border-right: 1px solid #efefef;
								    border-bottom: 1px solid #efefef;
								    transition: .5s;
								    -webkit-transition: .5s;
								    img{
								    	width: 140px;
    									display: block;
								    }
								    strong{
								    	display: block;
									    font-weight: 700;
									    color: #666;
									    font-size: 14px;
								    }
								    p{
								    	color: #999;
    									margin-top: 5px;
								    }
						    	}
						    }
					    }
		    		}
		    		:hover .title{
				    	background:#4FB99F;
				    	color: #fff;
				    	font-weight: 400; 
				    }
				    :hover .fr-a-a{
							display: block;
					    } 
				} 
				.new{
					font-size: 14px;
			    	padding-left: 17px;
					color: #666;
					label{
						font-size: 16px;
					    color: #e73828;
					    font-weight: 700;
					    font-family: arial;

					}
			    }	
			}
		}
	}
	.head-two{
		padding: 30px 0;
		width: 1240px;
		height: 81px;
   		margin: 0 auto;
   		.logo{
			float:left;
		    text-indent: -9999px;
		    font-size: 0;
		    line-height: 0;
		    overflow: hidden;
		    a{
		    	display: block;
			    width: 180px;
			    height: 80px;
		    }
   		}
   		.head-two-city{
   			float:left;
		    margin: 22px 60px 0 50px;
		    display: inline;
		    position: relative;
		    z-index: 201;
		    strong{
		    	font-size: 17px;
			    color: #666;
			    background: url(../img/newcity_ico.jpg) no-repeat right center;
			    padding-right: 18px;
			    cursor: pointer;
		    }
		    .two-title{
		    	color: #777;
			    font-size: 13px;
			    margin-top: 4px;
			    display: block;
		    }
   		}
   		.head-two-a{
   			float:left;
		    margin-top: 8px;
		    position: relative;
		    z-index: 55;
		    form{
		    	display: block;
		    	.n_stext {
				    width: 495px;
				    height: 41px;
				    line-height: 41px;
				    border: 2px solid #4FB99F;
				    background: #fff;
				    float:left;
				    text-indent: 15px;
				    font-size: 16px;
				    color: #333;
				    font-family: "微软雅黑";
				}
				.n_sbtn {
				    width: 105px;
				    height: 45px;
				    line-height: 45px;
				    background: #4FB99F;
				    color: #fff;
				    border: none;
				    font-size: 18px;
				    font-family: "微软雅黑";
				    float:left;
				    cursor: pointer;
				}
		    }
		    .clear {
			    clear: both;
			}
			p{
				font-size: 13px;
    			margin-top: 10px;
    			a{
    				margin-right: 14px;
    				color: #666;
    			}
			}
			:nth-child(2n+1):hover {
				color: #4FB99F;
			}
   		}
   		.head-two-car{
			position: relative;
		    z-index: 60;
		    float:right;
		    margin-top: 8px;
		    background: #fff;
		    .two-car-title{
		    	width: 188px;
			    height: 43px;
			    border: 1px solid #4FB99F;
			    overflow: hidden;
			    a{
			    	text-decoration: none;
				    cursor: pointer;
				    color: #333;
				    outline: 0;
				    i{
				    	display: block;
					    width: 45px;
					    height: 43px;
					    border-right: 1px solid #4FB99F;
					    background: url(../img/new_carico.jpg) no-repeat center center;
					    float:left;
				    }
				    span{
				    	color: #4FB99F;
				    	width: 142px;
					    font-size: 17px;
					    float:left;
					    display: block;
					    line-height: 43px;
					    text-align: center;
					    em{
					    	width: 18px;
						    height: 18px;
						    line-height: 18px;
						    display: inline-block;
						    font-size: 12px;
						    color: #fff;
						    background: #4FB99F;
						    text-align: center;
						    border-radius: 100%;
						    -webkit-border-radius: 100%;
						    -moz-border-radius: 100%;
						    font-family: arial;
						    margin-left: 5px;
						    vertical-align: middle;
						    margin-top: -4px;
					    }
				    }
			    }
		    }
		    .car_list{
		    	width: 310px;
			    position: absolute;
			    right: 0;
			    top: 44px;
			    background: #fff;
			    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, .1);
			    -mozbox-shadow: 0 0 15px rgba(0, 0, 0, .1);
			    box-shadow: 0 0 15px rgba(0, 0, 0, .1);
			    border: 1px solid #4FB99F;
			    display: none;
		    }
   		}
   		.head-two-car:hover{
	    	 box-shadow: 0 0 15px rgba(0, 0, 0, .1);
	    }
	}
	.head-three{
		position: relative;
	    z-index: 50;
	    width: 1240px;
	    margin: 0 auto;
	    .three_menu{
	    	float:left;
		    width: 230px;
		    height: 54px;
		    position: relative;
		    z-index: 200;
		    .title{
		    	width: 230px;
			    height: 54px;
			    line-height: 54px;
			    background: #4FB99F;
			    color: #fff;
			    font-size: 18px;
			    text-indent: 15px;
			    display: block;
		    }
		    .t_menuList{
				width: 230px;
			    height: 460px;
			    background: #333;
			    background: rgba(0, 0, 0, .75);
			    position: absolute;
			    left: 0;
			    top: 54px;
			    li{
		    	    height: 101px;
				    padding-left: 15px;
				    padding-top: 13px;
				    border-bottom: 1px solid #444;
				    border-bottom: 1px solid rgba(255, 255, 255, .05);
				    position: relative;
				    z-index: 4;
				    h2{
				    	font-size: 15px;
    					font-weight: 700;
    					a{
    						margin-right: 10px;
    						color: #fff;
    					}
				    }

				    span{
				    	overflow: hidden;
					    display: block;
					    line-height: 1.6;
					    margin-top: 7px;
					    font-size: 13px;
					    a{
					    	display: block;
						    float:left;
						    margin-right: 15px;
						    color: #e7e7e7;
					    }
					    a:hover{
					    	color: #f70;
					    }

				    }
				    .menu_box{
				    	width: 1010px;
					    height: 460px;
					    background: #fff;
					    position: absolute;
					    left: 230px;
					    top: 0;
					    display: none;
					    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
					    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, .1);
					    -moz-box-shadow: 0 0 20px rgba(0, 0, 0, .1);
					    overflow: hidden;
					    .menu_left{
					    	float: left;
						    width: 618px;
						    height: 460px;
						    border-right: 1px solid #e7e7e7;
						    strong{
						    	display: block;
							    width: 70px;
							    padding-left: 20px;
							    font-weight: 700;
							    font-size: 13px;
							    float: left;
							    text-align: center;
							    color: #555;
							    margin-top: 1px;
						    }
						    dd{
						    	overflow: hidden;
							    border-bottom: 1px solid #e7e7e7;
							    padding: 15px 0;
						    }
						    dd:last-child {
								    border:none;
							    }
						    p{
						    	overflow: hidden;
							    float: right;
							    width: 518px;
							    a{
							    	float: left;
								    padding: 0 12px;
								    background: url(../img/line.jpg) no-repeat right center;
								    font-size: 13px;
								    line-height: 1.8;
								    color: #666;
							    }
							    a:hover{
							    	color: #f70;
							    }
							    a:last-child {
								    background: 0 0;
							    }
						    }
					    }
					    .menu_center{
					    	float: left;
						    width: 280px;
						    border-right: 1px solid #e7e7e7;
						    height: 460px;
						    text-align: center;
						    a{
						    	img{
						    		display: block;
								    width: 220px;
								    margin: 42px auto 20px auto;
								    -webkit-transition: .4s;
								    -moz-transition: .4s;
								    transition: .4s;
						    	}
						    	img:hover{
								    transform:scale(1.1);
								}
						    }
						    strong{
						    	display: block;
							    font-size: 20px;
							    margin: 0 20px;
							    height: 28px;
							    line-height: 28px;
							    overflow: hidden;
							    a{
							    	color: #666;
							    }
							    a:hover{
								    color: #f70;
								}
						    }
						    p{
						    	color: #666;
							    padding: 10px;
							    margin: 10px 22px 8px 22px;
							    line-height: 1.5;
							    font-size: 14px;
							    border: 1px dashed #bbb;
						    }
						    span{
						    	font-size: 25px;
    							color: #4FB99F;
    							i{
    								font-size: 14px;
    							}

						    }
					    }
					    .menu_right{
					    	float: right;
					    	a{
					    		width: 110px;
							    height: 65px;
							    border-bottom: 1px solid #e7e7e7;
							    display: block;
							    overflow: hidden;
							    -webkit-transition: .2s;
							    -moz-transition: .2s;
							    transition: .2s;
							    img{
							    	display: block;
								    width: 80px;
								    height: 40px;
								    margin: 12.4px auto 0 auto;
							    }
					    	}
					    	a:hover{
							    transform:translateX(10px);
							}
					    }
				    }
				    
			    }
			    li:hover{
			    	background-color:#fff;
			    }
			    li:hover h2 a{
				    	color: #000;
				    }
			    li:hover span a{
			    	color: #666;
			    }
			    li:hover .menu_box{
			    	display: block;
			    }
			   	li span a:hover{
			    	color: #f70;
			    }
		    }
	    }
	    .three_nav{
	    	float:left;
    		overflow: hidden;
    		li{
    			float:left;
    			a{
	    			height: 48px;
				    line-height: 48px;
				    display: block;
				    font-size: 17px;
				    padding-left: 46px;
				    color: #333;
	    		}
	    		a:hover{
	    			color: #42a88f;
	    		}
    		}
    		.on a{    
				color: #42a88f;
			}
	    }
	    .three_box{
	    	position: absolute;
		    width: 228px;
		    height: 430px;
		    background: #fff;
		    right: 0;
		    top: 69px;
		    .three_news{
		    	.title{
		    		height: 50px;
				    border-bottom: 1px solid #e7e7e7;
				    font-size: 16px;
				    a{
				    	margin-left: 15px;
					    height: 48px;
					    line-height: 50px;
					    display: block;
					    color: #333;
					    float:left;
				    }
				    .on{
				    	border-bottom: 4px solid #4FB99F;
    					color: #42a88f;
				    }
		    	}
		    	ul{
		    		overflow: hidden;
				    padding: 0 15px;
				    margin-top: 12px;
				    display: none;
				    li{
				    	text-overflow: ellipsis;
					    white-space: nowrap;
					    height: 25px;
					    transition: .5s;
					    overflow: hidden;
					    a{
					    	color: #666;
					    	font-size: 14px;
					    }
					    a:hover{
							color: #FE9900;
					    }
				    }
				    :hover{
					    transform:translateX(10px);
					}
		    	}
		    }
		    .three_tag{
		    	overflow: hidden;
			    border-top: 1px solid #e7e7e7;
			    height: 177px;
			    width: 100%;
			    position: absolute;
			    left: 0;
			    bottom: 0;
			    ul{
			    	li{
			    		float:left;
					    border-right: 1px solid #e7e7e7;
					    border-bottom: 1px solid #e7e7e7;
					    width: 75px;
					    height: 88px;
					    -webkit-transform-style: preserve-3d;
					    -moz-transform-style: preserve-3d;
					    transform-style: preserve-3d;
					    -webkit-transition: .5s;
					    -moz-transition: .5s;
					    transition: .5s;
					    a{
					    	display: block;
    						padding: 20px 0;
    						i{
    							width: 29px;
							    height: 29px;
							    display: block;
							    background-image: url(../img/3c.jpg);
							    margin: 0 auto 5px auto;
							    -webkit-transition: .5s;
							    -moz-transition: .5s;
							    transition: .5s;
    						}
    						span{
    							color: #666;
    							display: block;
							    text-align: center;
							    font-size: 13px;
    						}
					    }
			    	}
			    	.f1{
			    		i{
							background-position: 0 0;
			    		}
			    	}
			    	.f2{
			    		i{
							background-position: 58px 0;
			    		}
			    	}
			    	.f3{
			    		i{
							background-position: 29px 0;
			    		}
			    	}
			    	.f4{
			    		i{
							background-position: 0 29px;
			    		}
			    	}
			    	.f5{
			    		i{
							background-position: 58px 29px;;
			    		}
			    	}
			    	.f6{
			    		i{
							background-position: 29px 29px;;
			    		}
			    	}
			    	li:hover{
	    	 			box-shadow: 0 0 15px rgba(0, 0, 0, .2);
	    			}
	    			li:hover i{
	    	 			transform:rotateY(-360deg);
	    			}
			    }
		    }
	    }
	}
}
// banner
#banner{
	width: 100%;
    position: relative;
    height: 460px;
    z-index: 0;
    overflow: hidden;
	img{
		position: absolute;
		width: 100%;
		height: 460px;
	}
	#imgId1{
		opacity: 1;
	}
	#imgId2{
		opacity: 0;
	}
	#imgId3{
		opacity: 0;
	}
	#imgId4{
		opacity: 0;
	}
	#imgId5{
		opacity: 0;
	}
	#imgId6{
		opacity: 0;
	}
	ul{
		position: absolute;
		left: 45%;
		bottom:25px;
		height: 15px;
		li{
			float:left;
			margin-left: 10px;
			width: 15px;
			height: 15px;
			border-radius: 50%;
			background-color: #fff;
		}
	}
	#leftArrow{
		position: absolute;
		left: 0;
		top: 205px;
		width: 30px;
	    height: 50px;
	    display: block;
	    background: url(../img/pico.png) no-repeat;
	    position: absolute;
	    top: 42%;
	    z-index: 3;
	    display: none;
	    -webkit-transition: .3s;
	    -moz-transition: .3s;
	    transition: .3s;
    	background-position: 0 -50px;
	}
	#leftArrow:hover{
		background-position: -30px -50px;
	}
	#rightArrow{
		position: absolute;
		right: 30px;
    	top: 205px;
    	width: 30px;
	    height: 50px;
	    display: block;
	    background: url(../img/pico.png) no-repeat;
	    position: absolute;
	    top: 42%;
	    z-index: 3;
	    display: none;
	    -webkit-transition: .3s;
	    -moz-transition: .3s;
	    transition: .3s;
	    background-position: -30px 0;
	}
	#rightArrow:hover{
		background-position: 0 0;
	}
}
#banner:hover{
	cursor: pointer;
}
#banner:hover #leftArrow{
	display: block;
}
#banner:hover #rightArrow{
	display: block;
}
// 丫丫推荐
.YaYa{
	width: 1240px;
    margin: 0 auto;
    .title{
    	overflow: hidden;
    	.s_btn{
    		display: block;
		    overflow: hidden;
		    float:right;
		    margin-top: 26px; 
		    .s_l_btn{
		    	display: block;
		    	float: left;
		    	width: 39px;
		    	height: 30px;
		    	border: 1px solid #b4aeae;
		    	border-radius: 15px 0 0 15px;
			    border-right: none;
			    background:url(../img/ssbtn.png)no-repeat bottom left;
			    background-position: 16px -33px;
			    -webkit-transition: .3s;
			    -moz-transition: .3s;
			    transition: .3s;
		    }
		    .s_l_btn:hover{
		    	background-position: -17px -33px;
		    }
		    
		    .s_r_btn{
		    	display: block;
		    	float: right;
		    	width: 38px;
		    	height: 30px;
		    	border: 1px solid #b4aeae;
		    	border-radius: 0 15px 15px 0;
    			background:url(../img/ssbtn.png)no-repeat top right;
    			background-position: -16px 7px;
    			-webkit-transition: .3s;
			    -moz-transition: .3s;
			    transition: .3s;
		    }
		    .s_r_btn:hover{
		    	background-position: 17px 7px;
		    }
    	}
    	._index_h2 {
		    height: 80px;
		    line-height: 80px;
		    font-size: 24px;
		    display: block;
		    font-weight: 100;
		    float:left;
		}
    }
    .border_five{
    	overflow: hidden;
    	i{
    		width: 20%;
		    float: left;
		    height: 2px;
		    line-height: 0;
		    display: block;
    	}
    	.f1{
    		background: #4fb99f;
    	}
    	.f2{
    		background: #9cc715;
    	}
    	.f3{
    		background: #f9be00;
    	}
    	.f4{
    		background: #f29600;
    	}
    	.f5{
    		background: #e73828;
    	}
    }
    .js_single{
    	width: 1240px;
	    height: 499px;
	    overflow: hidden;
	    .single_war{
	    	overflow: hidden;
	    	.single_box {
			    width: 1240px;
			    height: 499px;
			    background: #fff;
			    float: left;
			    overflow: hidden;
			    .s1 {
				    height: 499px;
				    img{
				    	width: 220px;
    					margin: 54px auto 10px auto;
				    }
				    span{
				    	color: #f80;
    					margin: 8px 0 12px 0;
				    }
				    .single_li_btn{
				    	box-shadow: 0 0 10px rgba(255, 136, 0, .5);
				    	padding: 5px 20px;
				    	border-radius: 15px;
				    	color: #fff;
				    	font-size: 18px;
				    }
				   
				   
				} 
				.s1:hover p{
				    	font-weight: 700;
				    }
				.s1:hover h3 a{
				    	font-weight: 700;
				    } 
			    li {
				    float: left;
				    width: 247px;
				    height: 249px;
				    border-right: 1px solid #e7e7e7;
				    border-bottom: 1px solid #e7e7e7;
				    text-align: center;
				    transition: .4s;
				   	img{
						display: block;
					    margin: 20px auto 0 auto;
					    width: 120px;
				    }
				    h3{
				    	display: block;
					    font-size: 19px;
					    height: 26px;
					    line-height: 26px;
					    overflow: hidden;
					    margin: 30px 30px 0 30px;
					}
					p{
						color: #777;
					    margin-top: 2px;
					    height: 19px;
					    font-size: 14px;
					    overflow: hidden;
					    display: block;
					}
					b{
						color: #f80;
					    margin-top: 2px;
					    font-weight: 700;
					    display: none;
					}
					i{
						font-size: 14px;
					}
					a{
						text-decoration: none;
					    cursor: pointer;
					    color: #333;
					    outline: 0;
					    font-weight: 100;
					}
					span{
						font-size: 24px;
    					display: block;
					}
					
				}
				li:hover{
    	 			box-shadow: 0 0 25px rgba(0, 0, 0, .2);
    			}
    			.s2:hover p{
						display: none;
					}	
				.s2:hover b{
					display: inline;
				}
				.s3 {
				    width: 495px;
				    border-right: none;
				    .fl{
				    	float: left;
					    width: 248px;
					    a{
					    	img{
				    		    width: 220px;
    							margin: 12px auto 0 auto;
					    	}
					    }
					}
					.fr{
						float: right;
						width: 247px;
						h3{
							margin-top: 54px;
						}
						p{
							color: #e73828;
    						margin: 8px 0 12px 0;
						}
						.single_li_btn{
							box-shadow: 0 0 10px rgba(255, 153, 144, .8);
							padding: 5px 20px;
					    	border-radius: 15px;
					    	color: #fff;
					    	font-size: 18px;
						}
						span{
							color: #e73828;
    						margin: 8px 0 12px 0;
						}
					}
				}
				.s3:hover p{
				    	font-weight: 700;
				    }
				.s3:hover h3 a{
				    	font-weight: 700;
				    }
			}
		}
    }
}
// 广告
.new_gg{
	width: 1240px;
    margin: 0 auto;
	margin-top: 30px;
	a{
		img{
			width: 1240px;
    		display: block;
		}
	}
}
// f1-f5
.F1{
	width: 1240px;
	height: 784px;
    margin: 0 auto;
    span{
    	color: #4fb99f;
    }
    .title{
    	overflow: hidden;
    	width: 1240px;
    	height: 80px;
    	h2{
    		height: 80px;
		    line-height: 80px;
		    font-size: 25px;
		    float: left;
    	}
    	.tag{
		    float: right;
		    display: block;
		    margin-top: 29px;
		    a{
		    	float: left;
			    font-size: 16px;
			    color: #444;
			    margin-left: 32px;
			    padding-bottom: 12px;
		    }
		    .on{
		    	background: url(../img/da4.jpg) no-repeat bottom center;
    			color: #d3733c;
		    }
    	}
    }
    .box{
    	background: #fff;
    	overflow: hidden;
    	.FP{
    		.F_P_left {
			    width: 248px;
			    height: 602px;
			    position: relative;
			    float: left;
			    .F_img_a{
					width: 100%;
				    height: 450px;
				    display: block;
				    position: absolute;
				    left: 0;
				    top: 0;
				    z-index: 2;
			    }
			    img{
					width: 248px;
					display: block;
    				height: 450px;
			    }
			    p{
			    	height: 154px;
			    	strong{
			    		width: 100%;
					    display: block;
					    overflow: hidden;
					    position: absolute;
					    z-index: 2;
					    left: 0;
					    bottom: 12px;
					    a{
					    	width: 40%;
						    margin-left: 10%;
						    color: #fff;
						    font-size: 16px;
						    display: block;
						    float: left;
						    line-height: 2;
						    -webkit-transition: .3s;
						    -moz-transition: .3s;
						    transition: .3s;
					    }
					    a:hover{
					    	transform:translateX(10px);
					    }
			    	}
			    }
			    .F_line {
				    display: none;
				    width: 238px;
				    height: 594px;
				    position: absolute;
				    border: 1px solid #fff;
				    left: 4px;
				    top: 4px;
				    z-index: 1;
				}
			}
			.F_P_center{
				float: left;
				width: 496px;
				.F_P_top{
					border-bottom: 1px solid #e7e7e7;
				    border-right: 1px solid #e7e7e7;
				    height: 301px;
				    width: 495px;
				    overflow: hidden;
				    position: relative;
				    z-index: 1;
				    .img{
						width: 2475px;
						height: 100%;
						overflow: hidden;
						position: relative;
						padding: 0;
						margin: 0;
						li {
						    width: 495px;
						    border-right: none;
						    .fl{
						    	float:left;
						    	margin-top: 50px;
							    width: 248px;
							    a{
							    	img{
						    		    width: 220px;
		    							margin: 12px auto 0 auto;
							    	}
							    }
							}
							.fr{
								margin-top: 68px;
								float: right;
								width: 247px;
								h4{
									margin-right: 52px;
									font-size: 19px;
								    display: block;
								    height: 26px;
								    overflow: hidden;
								    a{
								    	color: #333;
								    	font-weight: 100;
								    }
								}
								p{
									color: #777;
								    margin-top: 2px;
								    height: 19px;
								    overflow: hidden;
								    padding-right:20px;
								}
								.single_li_btn{
									box-shadow: 0 0 10px #d3733c;
									padding: 5px 20px;
							    	border-radius: 15px;
							    	color: #fff;
							    	font-size: 18px;
							    	text-align: center;
    								float: left;
								}
								span{
									font-size: 24px;
								    display: block;
								    color: #d3733c;
								    margin: 8px 0 30px 0;
								    i{
								    	font-size: 12px;

								    }
								}
							}
						}
					}
				}
				.F_P_bottom{
					display: block;
					ul{
						li{
							float: left;
						    width: 247px;
						    height: 150px;
						    border-right: 1px solid #e7e7e7;
						    border-bottom: 1px solid #e7e7e7;
						    a{
						    	img{
					    		    width: 100px;
								    height: 100px;
								    float: left;
								    display: block;
								    margin: 25px 10px 0 10px;
						    	}
						    }
							h5{
								font-size: 16px;
							    display: block;
							    padding: 47px 15px 4px 0;
							    height: 21px;
							    overflow: hidden;
							    a{
							    	color: #333;
							    	font-weight: 100;
							    }
							}
							span{
								font-size: 24px;
							    display: block;
							    color: #d3733c;
							    margin: 8px 0 30px 0;
							    i{
							    	font-size: 12px;
							    }
							}
						}
						li:hover{
		    	 			box-shadow: 0 0 25px rgba(0, 0, 0, .2);
		    			}
					}
				}
			}
			.F_P_right {
			   width: 496px;
			    float: right;
			    text-align: center;
			    li {
				    float: left;
				    width: 247px;
				    height: 301px;
				    border-right: 1px solid #e7e7e7;
				    border-bottom: 1px solid #e7e7e7;
				   	img{
						display: block;
					    margin: 20px auto 0 auto;
					    width: 120px;
				    }
				    h3{
				    	display: block;
					    font-size: 19px;
					    height: 26px;
					    line-height: 26px;
					    overflow: hidden;
					    margin: 30px 30px 0 30px;
					}
					p{
						color: #777;
					    margin-top: 2px;
					    height: 19px;
					    font-size: 14px;
					    overflow: hidden;
					}
					b{
						color: #d3733c;
						display: block;
					    margin-top: 20px;
					    font-weight: 600;
					    font-size: 18px;
					}
					a{
						text-decoration: none;
					    cursor: pointer;
					    color: #333;
					    outline: 0;
					    font-weight: 100;
					}
					span{
						font-size: 24px;
    					display: block;
					}
					
				}
				li:hover{
    	 			box-shadow: 0 0 25px rgba(0, 0, 0, .2);
    			}
			}
    	}
    	.brand{
    		overflow: hidden;
		    height: 100px;
		    padding: 0 20px;
		    .brand_ul{
		    	width: 1098px;
			    overflow: hidden;
			    float: left;
			    margin-left: 21px;
			    ul{
					li{
						height: 65px;
					    margin-top: 17.5px;
					    margin-right: 31px;
					    img{
					    	display: block;
						    width: 110px;
						    height: 65px;
						    -webkit-transition: .3s;
						    -moz-transition: .3s;
						    transition: .3s;
					    }
					    img:hover{
						    transform:translateX(10px);
						    cursor: pointer;
						}
					}
			    }
		    }
		    .next{
		    	width: 30px;
			    height: 60px;
			    float: left;
			    margin-top: 20px;
			    display: block;
			    background: url(../img/ssbtn.png) no-repeat;
			    background-position: 11px -17px;
			    -webkit-transition: .5s;
			    -moz-transition: .5s;
			    transition: .5s;
		    }
		    .next:hover{
		    	float:left;
		    	cursor: pointer;
    			background-position: -20px -17px;
		    }
		    .prev{
		    	width: 30px;
			    height: 60px;
			    margin-top: 20px;
			    display: block;
			    float: right;
			    background: url(../img/ssbtn.png) no-repeat;
    			background-position: -20px 23px;
			    -webkit-transition: .5s;
			    -moz-transition: .5s;
			    transition: .5s;
		    }
		    .prev:hover{
		    	float:right;
		    	cursor: pointer;
    			background-position: 20px 23px;
		    }
    	}
    }
}
//footer
.service{
	min-width: 1240px;
    height: 100px;
    margin: 45px auto 0 auto;
    background: #4fb99f;
    overflow: hidden;
    .new_main{
    	width: 1240px;
    	margin: 0 auto;
    	ul{
    		li{
    			float: left;
			    margin-top: 24px;
			    width: 20%;
			    a{
			    	color: #fff;
			    	i{
			    		display: block;
					    width: 30px;
					    height: 30px;
					    float: left;
					    background: url(../img/dda.png) no-repeat;
					    margin-right: 20px;
					    margin-top: 11px;
					    -webkit-transition: .3s;
					    -moz-transition: .3s;
					    transition: .3s;
			    	}
			    	p{
			    		float: left;
    					line-height: 1.5;
    					b{
    						display: block;
    						font-size: 19px;
    					}
    					em{
    						display: block;
    						font-size: 15px;
    					}
			    	}
			    }
    		}
    		.s1{
    			i{
    				background-position: 0 0;
    			}
    		}
    		.s2{
    			i{
    				background-position: -30px 0;
    			}
    		}
    		.s3{
    			i{
    				background-position: -60px 0;
    			}
    		}
    		.s4{
    			i{
    				background-position: -90px 0;
    			}
    		}
    		.s5{
    			i{
    				background-position: -120px 0;
    			}
    		}
    		li:hover i{
		    	transform:translateX(10px);
		    }
    	}
    }
}
.hiddem{
	overflow: hidden;
	background: #fff;
	.help{
		overflow: hidden;
		margin: 40px auto;
		width: 1240px;
		ul{
			width: 198px;
		    margin-left: 50px;
		    float: left;
		    font-size: 15px;
		    strong{
		    	font-size: 19px;
			    display: block;
			    padding-bottom: 12px;
		    }
		    li{
		    	line-height: 26px;
		    	color: #666;
		    }
		    li:hover{
		    	color: #FE9900;
		    	cursor: pointer;
		    }
		}
	}
	.bottom{
		width: 1240px;
		height: 122px;
    	margin: 0 auto;
    	ul{
    		width: 1140px;
    		margin: 0 auto;
    		li{
    			float: left;
			    width: 268px;
			    height: 120px;
			    margin-left: 15px;
			    border: 1px solid #e7e7e7;
			    position: relative;
			    z-index: 1;
			    img{
			    	display: block;
				    float: left;
				    width: 120px;
				    height: 120px;
			    }
			    .img1{
			    	width: 88px;
				    height: 138px;
				    display: block;
				    position: absolute;
				    left: 21px;
				    bottom: 0;
			    }
			    .fr{
			    	width: 125px;
			    	float: right;
    				padding-right: 10px;
    				strong{
    					font-size: 17px;
					    display: block;
					    margin-top: 27px;
    				}
    				p{
    					color: #666;
    					font-size: 14px;
					    margin-top: 5px;
					    line-height: 1.3;
					    i{
							display: block;
						    font-size: 17px;
						    color: #4fb99f;
						    margin-top: -2px;
					    }
					    em{
					    	display: block;
					    }
					    a{
					    	color: #333;
					    }
					    a:hover{
					    	color: #FE9900;
					    }
    				}
			    }
    		}
    	}
	}
	.info{
		text-align: center;
	    margin: 25px auto 20px auto;
	    color: #999;
	    width: 1240px;
	    p{
	    	line-height: 2;
	    	font-size: 14px;
	    }
	    a{
	    	color: #999;
	    }
	    .menu{
	    	a{
	    		margin-right: 15px;
			    padding-right: 15px;
			    background: url(../img/lines.jpg) no-repeat right center;
			    font-size: 16px;
	    	}
	    	a:hover{
	    		color: #666;
	    	}
	    	a:last-child {
			    background: 0 0;
		    }
		}
	}
	.new_main{
		width: 1240px;
    	margin: 0 auto;
    	.btn_img{
    		overflow: hidden;
		    padding-bottom: 25px;
		    text-align: center;
		    font-size: 0;
		    a{
		    	img{
		    		display: inline-block;
				    border: 1px solid #e7e7e7;
				    margin: 0 5px;
				    width: 100px;
				    height: 40px;
		    	}
		    }
    	}
	}
}
// 右侧固定栏
.right_bar{
	width: 40px;
    height: 100%;
    position: fixed;
    z-index: 400;
    right: 0;
    top: 0;
    background: #333;
    ul{
    	position: absolute;
	    z-index: 10;
	    width: 40px;
	    left: 0;
    }
    li{
    	display: block;
    	position: relative;
    }
    li:hover{
		background: #4FB99F;
	}
	li:hover strong{
		position: absolute;
		right: 40px;
		top: 0px;
		overflow: hidden;
	}
    strong{
		position: absolute;
	    z-index: 1;
	    top: 0;
	    right: -300px;
	    background: #4FB99F;
	    text-align: center;
	    font-size: 16px;
	    height: 40px;
	    display: block;
	    -webkit-transition: .4s;
	    -moz-transition: .4s;
	    transition: .4s;
	    a{
	    	color: #fff;
		    width: 100px;
		    height: 40px;
		    line-height: 40px;
		    display: block;
	    }
	}
    .title{
    	width: 40px;
	    height: 40px;
	    display: block;
	    background: url(../img/rightico.png) no-repeat;
	    -webkit-transition: .4s;
	    -moz-transition: .4s;
	    transition: .4s;
	    position: relative;
	    z-index: 2;
	    margin-top: 5px;
    }
    .c{
    	top: 40%;
    }
    .c1{
		.title{
    		background-position: -1px 0;
    	}
	}
	.c1:hover .title{
		background-position: -40px 0px;
	}
	.c2{
		.title{
			background-position: -1px -40px;
		}
	}
	.c2:hover .title{
		background-position: -40px -40px;
	}
	.c3{
		.title{
			background-position: 0 -80px;
		}
	}
	.c3:hover .title{
		background-position: -40px -80px;
	}
	.c4{
		.title{
			background-position: -1px -120px;
		}
	}
	.c4:hover .title{
		background-position: -40px -120px;
	}
	.c5{
		.title{
			background-position: -1px -160px;
		}
	}
	.c5:hover .title{
		background-position: -40px -160px;
	}
	.tel_input{
		width: 180px;
	    height: 38px;
	    line-height: 0;
	    border: 0;
	    margin: 1px 0 1px 1px;
	    font-family: "微软雅黑";
	    float: left;
	    text-indent: 12px;
	    font-size: 14px;
	}
	.tel_btn{
		width: 60px;
	    height: 40px;
	    line-height: 40px;
	    text-align: center;
	    color: #fff;
	    border: none;
	    cursor: pointer;
	    background: #4FB99F;
	    float: left;
	    font-family: "微软雅黑";
	    font-size: 16px;
	}
	.b{
		bottom: 0;
	}
	.c6{
		.title{
			background-position: -1px -200px;
		}
	}
	.c6:hover .title{
		background-position: -40px -200px;
	}
	.c7{
		.title{
			background-position: -1px -240px;
		}
	}
	.c7:hover .title{
		background-position: -40px -240px;
	}
}
